/* Estilos Generales */
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient( #800080, #1a1a1a);
    background-attachment: fixed; /* Evita que el fondo se repita al hacer scroll */
}
/* Navegación */
nav {
    background:linear-gradient(#b86614 110%, #000000 150%) ;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: .05rem solid #222;
}

nav h1 {
    margin: 0;
    margin-bottom: .5rem;
    font-size: 2.8rem;
    text-align: center;
}

.nav-imagen {
    width: 200px;
}

.contenedor-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1rem;
}

.nav-vinculo {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
}

.nav-vinculo:hover {
    color: #e6b35c;
}

/* Botón Iniciar Sesión */
.iniciarsesion-boton {
    border: none;
    outline: none;
    width: auto;
    height: 2.5rem;
    background-color: orange;
    color: #222;
    font-size: 1rem;
    cursor: pointer; /* Añadido para mejor UX */
}

.iniciarsesion-boton:hover {
    background-color: #ffa931;
    transform: scale(1.02); /* Corregido el valor de scale */
}

/* Slider (Carrusel) */
.slider-box {
    width: 95%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

.slider-ul {
    display: flex;
    padding: 0;
    width: 200%;
    animation: slider 8s infinite alternate ease-in-out;
    list-style: none;
}

.slider-li {
    width: 100%;
    position: relative;
}

.slider-box img {
    width: 100%;
    border-radius: .3rem;
}

@keyframes slider {
    0% { margin-left: 0%; }
    40% { margin-left: 0%; }
    60% { margin-left: -100%; }
    100% { margin-left: -100%; }
}

/* Media Queries para Escritorio */
@media screen and (min-width: 1200px) {
    body{
        background: radial-gradient(circle, #660066 20%, #000 150%);
    }
    nav {
        flex-direction: row;
    }

    .contenedor-links {
        gap: 1rem;
        flex-direction: row;
    }

    .iniciarsesion-boton {
        margin-right: 1rem;
    }

    .nav-imagen {
        margin-top: 0rem;
    }

    .slider-box {
        width: 50%;
        margin: 0 auto;
    }
    .footerr-redesSociales{
        margin-left: 0;
    }
}
main{
    flex-grow: 1;
}

/* Media Queries para Tablet */
.contenedor-tabla{
    color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1rem;
}
.titulo-tabla{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-decoration: underline 2px;
}
.tabla-main{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.tabla{
    width: 80%;
    font-size: 1.5rem;
    border:2px;
    border-color:"purple";
    margin-bottom: 2rem;
    background-color: rgb(155, 155, 155,0.4);
}
.tabla td{
    text-align: center;
}

/*FOOTER*/
.footerr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000;
    font-size: 1.3rem;
    min-height:3rem;
    background: linear-gradient(#000, #b86614 2%);;
}
.footerr-redesSociales{
        margin-left: 1rem;
    }
.footerr-redesSociales a{
    color: #000;
    text-decoration: none;
}
.footerr-redesSociales a:first-child{
    margin-right: .5rem;
}
.footerr-derechos{
   text-align: center;
}